/* ~/.config/rofi/config.rasi - CONFIGURACIÓN DE SISTEMA
        _   ,_,   _
       / `'=) (='` \
      /.-.-.\ /.-.-.\ 
GPL   `      "      `

*/

configuration {
    /* Modos activos en el sistema */
    modes: [ drun, emoji, filebrowser, calc ]; 

    /* Comportamiento general */
    show-icons:      true;
    disable-history: false;
    sort:            false;
    sorting-method:  "fzf";

    /* Nombres limpios para los modos */
    display-drun:    "󰀻";
	display-emoji: "󰞅";
    //display-window:  "󱂬";
    //display-run:     "󰘳";
    display-calc:    "󰪚";
    display-filebrowser: "󰉋";
    
    /* Atajos rápidos estilo Walker */
    kb-select-1:     "F1";
    kb-select-2:     "F2";
    kb-select-3:     "F3";
    kb-select-4:     "F4";

	/* Para bajar y subir estilo vim usando la tecla ALT */
	kb-row-up:   "Alt+k,Up";
	kb-row-down: "Alt+j,Down";

	/* Para cambiar de modos dejando las flechas libres para el texto */
    kb-mode-previous: "Alt+h";
    kb-mode-next: "Alt+l";
	
    }

/* Importamos el tema desde su ubicación limpia separada */
@theme "themes/dracula-rofi.rasi"
