// Niri config
// 
// ░█▀█░▀█▀░█▀▄░▀█▀░░░░░░░░░█▀▀░█▀▄░█▀█░█▀█░█░░░█▀█
// ░█░█░░█░░█▀▄░░█░░░░▄▄▄░░░█░█░█▀▄░█▀█░█▀▀░█░░░█░█
// ░▀░▀░▀▀▀░▀░▀░▀▀▀░░░░░░░░░▀▀▀░▀░▀░▀░▀░▀░░░▀▀▀░▀▀▀
// 
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

config-notification {
    disable-failed
}

gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb {}
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {}
    trackpoint {}
}

environment {
    XDG_CURRENT_DESKTOP "niri"
}

// — Autostart —
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "eww" "daemon"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

overview {
    workspace-shadow {
        off
    }
    // backdrop-color "#44475a"
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// 1. Hace que el fondo de awww se quede estático en el backdrop
// para ver el nombre del namespace es con: niri msg layers
layer-rule {
    match namespace="^awww-daemon$"
    place-within-backdrop true
}

// 2. Hace que los espacios de trabajo sean transparentes para ver el fondo fijo
layout {
    background-color "transparent"
}

// — Includes —
include "graplo/colors.kdl"
include "graplo/layout.kdl"
include "graplo/alttab.kdl"
include "graplo/binds.kdl"
include "graplo/outputs.kdl"
include "graplo/cursor.kdl"
include "graplo/windowrules.kdl"
