/*
  / _ \   ▄▖  ▐▘▘        ▌         ▘▗   ▌     
\_\(_)/_/ ▙▘▛▌▜▘▌  ▛▛▌▛▌▛▌█▌▄▖▛▘▌▌▌▌▜▘▛▘▛▌█▌▛▘
 _//o\\_  ▌▌▙▌▐ ▌  ▌▌▌▙▌▙▌▙▖  ▄▌▚▚▘▌▐▖▙▖▌▌▙▖▌ 
  /   \
mod+space
*/

@import "~/.config/rofi/themes/colors.rasi"

/*****----- Configuration -----*****/
configuration {
    show-icons: true;
    markup-rows: true;
}

/*****----- Global -----*****/
* {
    font: "Ubuntu 12";
    background-color: @gpl-background;
    text-color: @gpl-foreground;
}

/*****----- Main Window -----*****/
window {
    transparency: "real";
    location: center;
    anchor: center;
    fullscreen: false;
    width: 820px;
    height: 630px;
    border: 2px;
    border-radius: 0px;
    border-color: @gpl-purple;
    background-color: @gpl-background;
    cursor: default;
}

/*****----- Main Layout: imagen + contenido lado a lado -----*****/
mainbox {
    spacing: 0px;
    orientation: horizontal;
    background-color: transparent;
    children: [
        "imagebox",
        "contentbox"
    ];
}

/*****----- Caja de imagen vertical -----*****/
imagebox {
    expand: false;
    width: 330px;
    orientation: vertical;
    background-color: transparent;
    background-image: url("/home/graplo/.config/rofi/images/drun/current", height);
    children: [
        "dummy",
        "mode-switcher"
    ];

}

/*****----- Caja de contenido: búsqueda + lista -----*****/
contentbox {
    orientation: vertical;
    spacing: 10px;
    padding: 15px;
    background-color: transparent;
    children: [
        "inputbar",
        "listview"
    ];
}

/*****----- Búsqueda -----*****/
inputbar {
    spacing: 10px;
    padding: 10px 0px;
    background-color: transparent;
    orientation: horizontal;
    children: [
        "textbox-prompt-colon",
        "entry"
    ];
}

textbox-prompt-colon {
    expand: false;
    font: "JetBrainsMono Nerd Font 13";
    str: "󰮯";
    padding: 12px 15px;
    border-radius: 1%;
    background-color: @gpl-purple;
    text-color: @gpl-background;
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

entry {
    expand: true;
    padding: 12px 16px;
    border-radius: 0%;
    background-color: @gpl-dark;
    text-color: @gpl-foreground;
    placeholder: "Search";
    placeholder-color: @gpl-comment;
    cursor: text;
    vertical-align: 0.5;
    border: 2px;
    border-color: @gpl-purple;
}

dummy {
    expand: true;
    background-color: transparent;
}

mode-switcher {
    spacing: 10px;
    padding: 0px 15px 20px 15px;
    background-color: transparent;
}

button {
    width: 45px;
    padding: 6px;
    border-radius: 1%;
    background-color: @gpl-dark;
    text-color: @gpl-foreground;
    cursor: pointer;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    font: "JetBrainsMono Nerd Font 18";
}

button selected {
    background-color: @gpl-purple;
    text-color: @gpl-background;
}

/*****----- Lista -----*****/
listview {
    columns: 1;
    lines: 9;
    cycle: true;
    dynamic: true;
    scrollbar: false;
    layout: vertical;
    fixed-height: true;
    fixed-columns: true;
    spacing: 10px;
    background-color: transparent;
}

element {
    spacing: 10px;
    padding: 8px;
    border-radius: 0px;
    background-color: transparent;
    text-color: @gpl-foreground;
    cursor: pointer;
}

element selected.normal {
    background-color: @gpl-purple;
    text-color: @gpl-background;
}

element-icon {
    size: 32px;
    background-color: transparent;
    text-color: inherit;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    vertical-align: 0.5;
}

/*****----- Error -----*****/
error-message {
    padding: 12px;
    border-radius: 10px;
    background-color: @gpl-red;
    text-color: @gpl-background;
}
