// ┌──────────────────────────────────────────────────────────────┐
// │                         APLICACIONES                         │
// └──────────────────────────────────────────────────────────────┘

// Qalculate
window-rule {
    match app-id="^qalculate-gtk$"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}

// Nautilus
window-rule {
    match app-id="org.gnome.Nautilus"
    open-floating true
    default-column-width { fixed 1402; }
    default-window-height { fixed 830; }
}

// Gradia — selector de color
window-rule {
    match app-id="gradia"
    open-floating true
}


// ┌──────────────────────────────────────────────────────────────┐
// │                            KITTY                             │
// └──────────────────────────────────────────────────────────────┘

// Todas las ventanas Kitty → flotantes
window-rule {
    match app-id="kitty"
    open-floating true
    default-column-width { fixed 1100; }
    default-window-height { fixed 880; }
}

// Btop
window-rule {
    match app-id="kitty" title="btop"
    default-column-width { fixed 1259; }
    default-window-height { fixed 871; }
}

// Weathr — clima
window-rule {
    match app-id="kitty" title="weathr"
    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
}

// Peaclock — reloj
window-rule {
    match app-id="kitty" title="peaclock"
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.40; }
}

// Impala — WiFi
window-rule {
    match app-id="kitty" title="impala"
    default-column-width { fixed 850; }
    default-window-height { fixed 880; }
}

// Bluetui — Bluetooth
window-rule {
    match app-id="kitty" title="bluetui"
    default-column-width { fixed 850; }
    default-window-height { fixed 780; }
}

// Wiremix — Audio
window-rule {
    match app-id="kitty" title="wiremix"
    default-column-width { fixed 1000; }
    default-window-height { fixed 700; }
}

window-rule {
    match app-id="kitty" title="fsel-cclip"
    open-floating true
    default-column-width { fixed 884; }
    default-window-height { fixed 910; }
}


// ┌──────────────────────────────────────────────────────────────┐
// │                            FOOT                              │
// └──────────────────────────────────────────────────────────────┘

// Todas las ventanas Kitty → flotantes
window-rule {
    match app-id="foot"
    open-floating true
    default-column-width { fixed 1100; }
    default-window-height { fixed 880; }
}

// Btop
window-rule {
    match app-id="foot" title="btop"
    open-floating true
    default-column-width { fixed 1259; }
    default-window-height { fixed 871; }
}

// Weathr — clima
window-rule {
    match app-id="foot" title="weathr"
    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
}

// Peaclock — reloj
window-rule {
    match app-id="foot" title="peaclock"
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.40; }
}

// Impala — WiFi
window-rule {
    match app-id="foot" title="impala"
    default-column-width { fixed 850; }
    default-window-height { fixed 880; }
}

// Bluetui — Bluetooth
window-rule {
    match app-id="foot" title="bluetui"
    default-column-width { fixed 850; }
    default-window-height { fixed 780; }
}

// Wiremix — Audio
window-rule {
    match app-id="foot" title="wiremix"
    default-column-width { fixed 1000; }
    default-window-height { fixed 700; }
}


window-rule {
    match app-id="foot" title="fsel"
    open-floating true
    default-column-width { fixed 556; }
    default-window-height { fixed 687; }
}

window-rule {
    match app-id="foot" title="fsel-cclip"
    open-floating true
    default-column-width { fixed 624; }
    default-window-height { fixed 773; }
}

// En el waybar dando click en la hora aparece timr es pomodoro tmb
window-rule {
    match app-id="foot" title="timr"
    open-floating true
    default-column-width { fixed 1034; }
    default-window-height { fixed 475; }
    default-floating-position x=20 y=20 relative-to="top-right"
}

window-rule {
    match app-id="foot" title="clima"
    open-floating true
    default-column-width { fixed 516; }
    default-window-height { fixed 250; }
    default-floating-position x=20 y=90 relative-to="top-right"
}

// En el waybar dando click en la fecha aparece lvsk-calendar
window-rule {
    match app-id="foot" title="calendar"
    open-floating true
    default-column-width { fixed 545; }
    default-window-height { fixed 568; }
    default-floating-position x=20 y=50 relative-to="top-right"
}

// En el waybar dando click en el mini-cava aparece el mpris fum
window-rule {
    match app-id="foot" title="mpris"
    open-floating true
    default-column-width { fixed 489; }
    default-window-height { fixed 208; }
    default-floating-position x=20 y=600 relative-to="top-right"
}

// Control de brillo para waybar
window-rule {
    match app-id="foot" title="brightctrl"
    open-floating true
    default-column-width { fixed 835; }
    default-window-height { fixed 505; }
    default-floating-position x=20 y=20 relative-to="bottom-right"
}


// ┌──────────────────────────────────────────────────────────────┐
// │                         MAXIMIZADAS                          │
// └──────────────────────────────────────────────────────────────┘

// Betterbird
window-rule {
    match app-id="eu.betterbird.Betterbird"
    open-maximized true
}

// Firefox
window-rule {
    match app-id="firefox"
    open-maximized true
}

// OBS Studio
window-rule {
    match app-id="com.obsproject.Studio"
    open-maximized true
}

// Kdenlive
window-rule {
    match app-id="org.kde.kdenlive"
    open-maximized true
}


// ┌──────────────────────────────────────────────────────────────┐
// │                          UTILIDADES                          │
// └──────────────────────────────────────────────────────────────┘

// Waypaper — fondo de escritorio
window-rule {
    match app-id="waypaper"
    open-floating true
}

// Dim ventanas no enfocadas
window-rule {
    match is-focused=false
    opacity 0.98
}
