// ▄▖▘▜ ▘         ▐▘▌     
// ▐ ▌▐ ▌▛▌▛▌  ▛▛▌▜▘▙▘█▌▛▘
// ▐ ▌▐▖▌▌▌▙▌  ▌▌▌▐ ▛▖▙▖▌ 
//         ▄▌             Graplo

window-rule {
    match app-id="^qalculate-gtk$"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}

// @id=wr_1773630653272935587 @name=Nautillus
window-rule {
    match app-id="org.gnome.Nautilus"
    open-floating true
    default-column-width { fixed 1402; }
    default-window-height { fixed 830; }
}

// @id=wr_1774465476238850109 @name=Elija el color
window-rule {
    match app-id="gradia"
    open-floating true
}

// @id=wr_1774679110653434376 @name=Kitty Float
window-rule {
    match app-id="kitty"
    open-floating true
    default-column-width { fixed 1100; }
    default-window-height { fixed 880; }
}

// btop para kitty
window-rule {
    match app-id="kitty" title="btop"
    default-column-width { fixed 1259; }
    default-window-height { fixed 871; }
}

// Weathr ancii de clima
window-rule {
    match app-id="kitty" title="weathr"
    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
}

// Peaclock Reloj de Terminal
window-rule {
    match app-id="kitty" title="peaclock"
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.40; }
    
}

// @id=wr_1774763687061620386 @name=Betterbird
window-rule {
    match app-id="eu.betterbird.Betterbird"
    open-maximized true
}

// @id=wr_1774837666257177035 @name=Firefox
window-rule {
    match app-id="firefox"
    open-maximized true
}

// @id=wr_1775930402426592860 @name=OBS-studio
window-rule {
    match app-id="com.obsproject.Studio"
    open-maximized true
}

// @id=wr_1776563265314788351 @name=kdenlive
window-rule {
    match app-id="org.kde.kdenlive"
    open-maximized true
}

// Para impala controlador de wifi
window-rule {
    match app-id="kitty" title="impala"
    default-column-width { fixed 850; }
    default-window-height { fixed 880; }
}

// Para bluitui controlador de bluetooth
window-rule {
    match app-id="kitty" title="bluetui"
    default-column-width { fixed 850; }
    default-window-height { fixed 780; }
}


// Para cambiar el fondo de escritorio
window-rule {
    match app-id="waypaper"
    open-floating true    
}

// Dim ventanas no enfocadas (efecto focus tipo Hyprland)
window-rule {
    match is-focused=false
    opacity 0.95
}

