// ┌──────────────────────────────────────────────────────────────┐
// │                         APLICACIONES                         │
// └──────────────────────────────────────────────────────────────┘

// Qalculate
window-rule {
    match app-id="^qalculate-gtk$"
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 600; }
}

// Nautilus
window-rule {
    match app-id="org.gnome.Nautilus"
    open-floating true
    default-column-width { fixed 1402; }
    default-window-height { fixed 830; }
}

// Gradia — selector de color
window-rule {
    match app-id="gradia"
    open-floating true
}


// ┌──────────────────────────────────────────────────────────────┐
// │                            KITTY                             │
// └──────────────────────────────────────────────────────────────┘

// Todas las ventanas Kitty → flotantes
window-rule {
    match app-id="kitty"
    open-floating true
    default-column-width { fixed 1100; }
    default-window-height { fixed 880; }
}

// Btop
window-rule {
    match app-id="kitty" title="btop"
    default-column-width { fixed 1259; }
    default-window-height { fixed 871; }
}

// Weathr — clima
window-rule {
    match app-id="kitty" title="weathr"
    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
}

// Peaclock — reloj
window-rule {
    match app-id="kitty" title="peaclock"
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.40; }
}

// Impala — WiFi
window-rule {
    match app-id="kitty" title="impala"
    default-column-width { fixed 850; }
    default-window-height { fixed 880; }
}

// Bluetui — Bluetooth
window-rule {
    match app-id="kitty" title="bluetui"
    default-column-width { fixed 850; }
    default-window-height { fixed 780; }
}

// Wiremix — Audio
window-rule {
    match app-id="kitty" title="wiremix"
    default-column-width { fixed 1000; }
    default-window-height { fixed 700; }
}

window-rule {
    match app-id="kitty" title="fsel-cclip"
    open-floating true
    default-column-width { fixed 884; }
    default-window-height { fixed 910; }
}


// ┌──────────────────────────────────────────────────────────────┐
// │                            FOOT                              │
// └──────────────────────────────────────────────────────────────┘

// Todas las ventanas foot → flotantes
window-rule {
    match app-id="foot"
    open-floating true
    default-column-width { fixed 1100; }
    default-window-height { fixed 880; }
}

// Btop
window-rule {
    match app-id="foot" title="btop"
    default-column-width { fixed 1259; }
    default-window-height { fixed 871; }
}

// Weathr — clima
window-rule {
    match app-id="foot" title="weathr"
    default-column-width { fixed 1280; }
    default-window-height { fixed 720; }
}

// Peaclock — reloj
window-rule {
    match app-id="foot" title="peaclock"
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.40; }
}

// Impala — WiFi
window-rule {
    match app-id="foot" title="impala"
    default-column-width { fixed 850; }
    default-window-height { fixed 880; }
}

// Bluetui — Bluetooth
window-rule {
    match app-id="foot" title="bluetui"
    default-column-width { fixed 850; }
    default-window-height { fixed 780; }
}

// Wiremix — Audio
window-rule {
    match app-id="foot" title="wiremix"
    default-column-width { fixed 1000; }
    default-window-height { fixed 700; }
}


window-rule {
    match app-id="foot" title="fsel"
    open-floating true
    default-column-width { fixed 583; }
    default-window-height { fixed 705; }
}

window-rule {
    match app-id="foot" title="fsel-cclip"
    open-floating true
    default-column-width { fixed 630; }
    default-window-height { fixed 775; }
}

// ┌──────────────────────────────────────────────────────────────┐
// │                         MAXIMIZADAS                          │
// └──────────────────────────────────────────────────────────────┘

// Betterbird
window-rule {
    match app-id="eu.betterbird.Betterbird"
    open-maximized true
}

// Firefox
window-rule {
    match app-id="firefox"
    open-maximized true
}

// OBS Studio
window-rule {
    match app-id="com.obsproject.Studio"
    open-maximized true
}

// Kdenlive
window-rule {
    match app-id="org.kde.kdenlive"
    open-maximized true
}


// ┌──────────────────────────────────────────────────────────────┐
// │                          UTILIDADES                          │
// └──────────────────────────────────────────────────────────────┘

// Waypaper — fondo de escritorio
window-rule {
    match app-id="waypaper"
    open-floating true
}

// Dim ventanas no enfocadas
window-rule {
    match is-focused=false
    opacity 0.95
}
